.onOffButtons {
  width: 70px;
  height: 70px;
}

.process-images {
  margin: 5px 0;
  display: block;
}

.generator {
  width: 200px;
  height: 100px;
}

.turbine {
  width: 75px;
  height: 150px;
  margin-top: 50px
}

.mode-Images {
  width: 30px;
  height: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.component-name{
  font-size: medium;
  color: rgb(0, 0, 0);
  width: 5px;
}