.Refierbator-Component {
  margin-left: 200px;
  margin-top: 150px;
}

.Refierbator-Image {
  height: 200px;
  transform: scaleX(-1);
}

.Camera-de-ardere-Image {
  height: 100px;
}

.Camera-de-ardere-Component {
  margin-left: 550px;
  margin-top: 120px;
}

.Ventilator-Image {
  height: 30px;
}

.Ventilator-Component {
  margin-top: -50px;
  margin-left: 850px;
}

.Acumulator-Component {
  margin-left: 205px;
  margin-top: 60px;
}

.Acumulator-Image {
  height: 50px;
}

.Chimicale-Image {
  height: 100px;
}

.Chimicale-Component {
  margin-left: 640px;
  margin-top: 150px;
}

.Filtru-Image {
  height: 30px;
}

.Filtru1Col2-Component {
  margin-top: 110px;
  margin-left: 300px;
}

.Filtru2Col2-Component {
  margin-left: 400px;
}

.Filtru3Col2-Component {
  margin-left: 500px;
}

.Pompa1Col2-Component {
  margin-top: -50px;
  margin-left: 800px;
  margin-bottom: 50px;
}

.Pompa2Col2-Component {
  margin-top: 100px;
  margin-left: 800px;
}

.Pompa2Col2-Image {
  height: 40px;
}

.coloana2 {
  margin-bottom: 5em;
}

#arrow5 {
  margin-top: 72px;
  margin-left: 100px;
  animation: animate_right5 3s linear infinite;
}

@keyframes animate_right5 {
  0% {
    margin-left: 100px;
  }

  100% {
    margin-left: 500px;
  }
}

#arrow11 {
  margin-top: 585px;
  margin-left: 30px;
  animation: animate_left11 3s linear infinite;
}

@keyframes animate_left11 {
  0% {
    margin-left: 250px;
  }

  100% {
    margin-left: 60px;
  }
}

#arrow18 {
  margin-top: 675px;
  animation: animate_left18 3s linear infinite;
}

@keyframes animate_left18 {
  0% {
    margin-left: 580px;
  }

  100% {
    margin-left: 900px;
  }
}

#arrow19 {
  margin-top: 675px;
  margin-left: 973px;
  animation: animate_left19 3s linear infinite;
}

@keyframes animate_left19 {
  0% {
    margin-top: 670px;
  }

  100% {
    margin-top: 200px;
  }
}

#arrow20 {
  margin-top: 675px;
  margin-left: 943px;
  animation: animate_left20 3s linear infinite;
}

@keyframes animate_left20 {
  0% {
    margin-top: 200px;
  }

  100% {
    margin-top: 670px;
  }
}

#arrow21 {
  margin-top: 515px;
  animation: animate_left21 3s linear infinite;
}

@keyframes animate_left21 {
  0% {
    margin-left: 600px;
  }

  100% {
    margin-left: 350px;
  }
}

#arrow22 {
  margin-top: 115px;
  animation: animate_left22 3s linear infinite;
}

@keyframes animate_left22 {
  0% {
    margin-left: 500px;
  }

  100% {
    margin-left: 900px;
  }
}

#arrow23 {
  margin-top: 95px;
  animation: animate_left23 3s linear infinite;
}

@keyframes animate_left23 {
  0% {
    margin-left: 900px;
  }

  100% {
    margin-left: 500px;
  }
}

#arrow24 {
  margin-top: 400px;
  margin-left: 254px;
  animation: animate_left24 1s linear infinite;
}

@keyframes animate_left24 {
  0% {
    margin-top: 430px;
  }

  100% {
    margin-top: 500px;
  }
}
