.turbineGroup {
    margin-top: -20px
}

.waves {
    position: absolute;
    height: 80px;
    margin-left: -54px;
    animation: waves 2s infinite;
}

@keyframes waves {
    0% {
        transform: scale(1);
        opacity: 1;
        margin-top: 0
    }

    100% {
        transform: "scale(2)";
        opacity: 0;
        margin-top: 50px
    }
}