.ColoanaContactor-Component {
    margin-left: 300px;
    margin-top: 20px;
}

.ColoanaContactor-Image {
    height: 250px;
}

.Schimbator-de-caldura-Component {
    margin-left: 500px;
    margin-top: 20px
}

.Schimbator-de-caldura-Image {
    height: 100px;
}

.Pompa-Image {
    height: 30px;
}

.Pompa1-Component {
    margin-left: 600px;
    margin-top: 150px;
}

.Pompa2-Component {
    margin-left: 700px;
}

.VB-Image {
    height: 60px;
}

.VB-Component {
    margin-top: 50px;
    margin-left: 150px;
}

.Cooler-Image {
    height: 60px;
}

.Cooler-Component {
    margin-top: 10px;
    margin-left: 500px;
}

.Filtru-Image {
    height: 60px;
}

.Filtru1-Component {
    margin-top: 60px;
    margin-left: 300px;
}

.Filtru2-Component {
    margin-top: 30px;
    margin-left: 350px;
}

.Filtru3-Component {
    margin-top: 50px;
    margin-left: 300px;
}

.Pompa3-Component {
    margin-left: 600px;
    margin-top: 50px;
}

.Pompa4-Component {
    margin-left: 700px;
    margin-bottom: 50px;
}

.PompaInvers-Image {
    height: 30px;
    transform: scaleX(-1);
}

.Refierbator {
    height: 100px;
}

.Filtru {
    height: 70px;
}

.arrow {
    height: 1em;
    position: absolute;
    animation: animate_right1 3s linear infinite;
}

#arrow1 {
    margin-top: 194px;
    margin-left: 60px;
}